<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Upgrade Id="43E6592C-B028-5973-906C-EB1CE6E9121F">
      <UpgradeVersion Minimum="0.0.0"
                      IncludeMinimum="yes"
                      Maximum="1.2.5"
                      IncludeMaximum="no"
                      Property="LEGACYNEAPRODUCTS" />
    </Upgrade>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="RemoveLegacyDesktopShortcut" Guid="5E246096-84B1-4C9C-997F-B724470708E2">
        <RemoveFile Id="RemoveOopzPlusDesktopShortcut" Name="OOPZ+.lnk" On="install" />
        <RegistryValue Root="HKCU"
                       Key="Software\oopzplus\NEA"
                       Name="Legacy Desktop Shortcut Cleanup"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuFolder">
      <Directory Id="LegacyApplicationProgramsFolder" Name="OOPZ+">
        <Component Id="RemoveLegacyStartMenuShortcuts" Guid="ED1A0633-9A03-4EB3-BF37-D0A6D907D3FC">
          <RemoveFile Id="RemoveOopzPlusStartMenuShortcut" Name="OOPZ+.lnk" On="install" />
          <RemoveFile Id="RemoveOopzPlusUninstallShortcut" Name="Uninstall OOPZ+.lnk" On="install" />
          <RemoveFolder Id="RemoveLegacyApplicationProgramsFolder" On="install" />
          <RegistryValue Root="HKCU"
                         Key="Software\oopzplus\NEA"
                         Name="Legacy Start Menu Shortcut Cleanup"
                         Type="integer"
                         Value="1"
                         KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
